<p class="categories">
{% capture category_size %}{{ page.categories | size }}{% endcapture %}
{% if category_size != '0' %}
{{ site.data.trans.post_in }} {% for category_post in page.categories %}{% assign category_ename = category_post | capitalize %}{% for category_data in site.data.categories %}{% if category_ename == category_data.ename %} 【<a href="/{{ site.baseurl }}{{ site.category_dir }}{{ category_post }}">{{ category_data.cname }}</a>】{% endif %}{% endfor %}{% endfor %}
{% endif %}
</p>
<p class="tags">
{% capture tag_size %}{{ page.tags | size }}{% endcapture %}
{% if tag_size != '0' %}
{% for post_tag in page.tags %}{% for data_tag in site.data.tags %}{% if post_tag == data_tag.ename %} <a href="/{{ site.baseurl }}{{ site.tag_dir }}{{ post_tag }}">{{ data_tag.cname }}</a>  {% endif %}{% endfor %}{% endfor %}
{% endif %}
</p>
{% unless page.sharing == false %}
{% include post_sharing.html %}
{% endunless %}
<div class="pagination">
    {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}" title="{{ site.data.trans.post_prev }}: {{ page.previous.title }}">&laquo; {{ site.data.trans.post_prev }}</a>
    {% endif %}
    <a href="#page_header">-{{ site.data.trans.pagi_top }}-</a>
    {% if page.next.url %}
    <a class="next" href="{{page.next.url}}" title="{{ site.data.trans.post_next }}: {{ page.next.title }}">{{ site.data.trans.post_next }} &raquo;</a>
    {% endif %}
</div>
